html,
body {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.divv {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  padding: 0px 0 47px 31px;
}
@media (max-width: 991px) {
  .div {
    padding-left: 20px;
  }
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100px;
  max-width: 100%;
}
.div-a {
  align-self: center;
  margin-top: 60px;
  width: 100%;
}
@media (max-width: 991px) {
  .div-a {
    max-width: 100%;
  }
}
.div-b {
  padding: 0 50px 0 50px;
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-b {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-right: 80px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-c {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-c {
    max-width: 100%;
    margin-top: 40px;
  }
}

.div-d {
  color: var(--Colour-Main-Blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  margin-top: 32px;
  font: 400 18px/30px Roboto, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .div-d {
    max-width: 100%;
  }
}
.div-e {
  margin-top: 40px;
  padding: 20px 0 20px 0;
  width: 50%;
  color: #fff;
  background-color: var(--Colour-Main-Blue-800, #111b47);
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 80px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.img-2 {
  aspect-ratio: 1.14;
  object-fit: auto;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
    margin-top: 40px;
  }
}
